@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*
*{
    outline: 1px solid red;
}
*/
section[id] {
    scroll-margin-top: 100px;
}

body {
    background-color: #f9e7f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 120px;
}

header {
    position: fixed;
    /*header float on the top*/
    top: 0;
    width: 100%;
    z-index: 1000;
    /*higher than others*/
    background-color: transparent;
}

/*header bg anime(hover+↓)*/
header::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    transition: top 0.4s ease;
    z-index: 0;
    /*keep lower, d't hide subemenu*/
}

/*hover to show bg & scroll down to keep show bg*/
header:hover::before,
header.scrolled::before {
    top: 0;
}

#logo {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*make sure nav higher than ::before*/
    position: relative;
    z-index: 1;
    margin: 0 10px;
}

#menu,
#collection {
    list-style: none;
    /*no list icon*/
    display: flex;
    gap: 30px;
    font-size: 25px;
}

#menu li a,
#collection a {
    text-decoration: none;
    /*no a's underline*/
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    transition: color 0.3s ease;
    /*anime ↓*/
}

header:hover #menu li a:hover,
header.scrolled #menu li a:hover {
    color: #ffa5cf;
}

header:hover #menu li a {
    color: #ff158a;
}

header.scrolled #menu li a {
    color: #ff158a;
}

.submenu {
    position: absolute;
    padding: 10px;
    list-style: none;
    top: 100%;
    /*make sure it shows below the menu*/
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.85);
    display: block;
    pointer-events: none;

}

.submenu li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.submenu li a:hover {
    color: #ff158a;
}

.dropdown {
    position: relative;
}

.dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    display: block;
    pointer-events: auto;
}


#menuToggle,
#closeSidebar {
    display: none;
}

.social-links a {
    margin: 0 5px;
}

/*section-logo*/

#slogan {
    position: fixed;
    top: 0;
    width: 100%;
    height: 110vh;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#slogan img {
    width: 50%;
    display: block;
    margin: 0 auto;
    transition: transform 3s ease;
    filter: drop-shadow(0 0 10px hotpink);
}

#slogan img:hover {
    transform: rotateY(720deg);
    filter: drop-shadow(0 0 20px hotpink);
}

.art {
    display: flex;
    justify-content: center;
    color: #ff158a;
    font-size: 45px;
    gap: 20px;
    font-weight: bold;
}

/*section-slide*/
#slide h2 {
    text-align: center;
    font-size: 200px;
    position: relative;
    margin-bottom: 0;
    margin-top: 50px;
}

#slide {
    position: relative;
    text-align: center;
    margin: 70px 0;
    overflow-x: hidden;
}

.slideContainer {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    gap: 0;
    overflow: visible;
    opacity: 80%;
}

.slideImg {
    position: absolute;
    width: 100%;
    max-width: 700px;
    height: 700px;
    object-fit: cover;
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideImg.active {
    opacity: 1;
    transform: translateX(0) scale(1) rotateY(0deg);
    z-index: 3;
    pointer-events: auto;
}

.slideImg.left {
    opacity: 1;
    transform: translateX(-520px) scale(0.8) rotateY(-20deg);
    z-index: 2;
    pointer-events: auto;
}

.slideImg.right {
    opacity: 1;
    transform: translateX(520px) scale(0.8) rotateY(20deg);
    z-index: 2;
    pointer-events: auto;
}

button.back,
button.next {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background: #ff158a;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
}

button.back {
    left: 10px;
}

button.next {
    right: 10px;
}

#slide button:hover {
    color: #ff158a;
}

/*section-phrase*/
.phrase {
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    height: 200px;
}

/*section-art*/
.artCollection {
    display: grid;
    grid-template-rows: 1fr 1fr 50px;
}

.artImgContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 40px;
    margin: 0 40px;
}

.artImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.toArtContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
}

.headline {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-align: center;
}

.headline p,
.headline h2 {
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
    font-size: 60px;
}

.headline p {
    text-align: left;
    font-size: 30px;
}

.toArt {
    text-align: center;
}

.toArt a {
    font-size: 30px;
    text-decoration: none;
    color: #ff158a;
    border: 1px solid #ff158a;
    border-radius: 15px;
    padding: 6px 14px;
    transition: background-color 0.3s, border 0.3s;
}

.toArt a:hover {
    background-color: #ffb5cd;
    border: #ffffff;
}

/*section-contact*/
#about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 10px;
    width: 80vw;
}

.imgBox1 img,
.imgBox2 img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #6c5c5c;
}

.imgBox1 {
    align-self: start;
}

.imgBox2 {
    align-content: end;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.textBox a {
    text-decoration: none;
}

.textBox p {
    margin: 0 0 15px 0;
    line-height: 1.6;
    font-size: 20px;
}

.toAbout {
    height: 50px;
    padding: 0 40px;
    margin: 0 auto;
    background-color: #ff158a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    /*align center*/
    transition: transform 0.3s ease;
}

.toAbout:hover {
    transform: scale(1.1);
}

/*section-connect*/
.connect {
    text-align: center;
    margin-top: 200px;
}

.logoDetail p {
    font-size: 12px;
}

.icon {
    margin-bottom: 200px;
}

.icon img {
    width: 5%;
    margin: 0 15px;
}

.connect h2 {
    font-size: 40px;
    margin-bottom: 0;
    margin-right: 150px;
}

.connect p {
    font-size: 20px;
    margin-top: 0;
    margin-left: 200px;
}

/*aside*/
aside {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #ffb0dc;
}

aside h1 {
    margin-bottom: 0;
}

aside p {
    margin-top: 0;
    margin-bottom: 30px;
}

footer {
    width: 100%;
    text-align: center;
    color: #ffb0dc;
    padding: 30px 0;
}

h2 {
    color: #ff158a;
    font-family: "Playfair Display", serif;
    font-size: 40px;
}

p {
    font-size: 20px;
    color: #6c5c5c;
    font-family: "Open Sans", sans-serif;
}

/*arts-all*/
.theme1 {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin: 50px 0;
}

figcaption {
    padding: 30px;
    color: #6c5c5c;
    font-size: 20px;
}

figure {
    text-align: center;
    margin: 0;
}

.block1 {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    gap: 10px
}

.separator {
    background-image: radial-gradient(#FEB3C1 5px, transparent 5px);
    background-size: 20px 20px;
    /* between the dots */
}

.column img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

/*arts details*/
.artworkContainer {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 80px auto;
}

.left-column {
    flex: 1;
    max-width: 50%;
    box-sizing: border-box;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50%;
    box-sizing: border-box;
}

.main-image {
    width: 100%;
    height: auto;
    display: block;
}

.main-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.other-image {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;
}

.other-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.details {
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 6px;
    border: 1px solid #ff158a;
    width: 100%;
    box-sizing: border-box;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
}

.details-table td {
    padding: 4px 6px;
    white-space: nowrap;
    overflow: hidden;
}

.details-table strong {
    font-weight: bold;
    color: #333;
}

.details-table .tool {
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    color: #777;
}

.arts-buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.arts-btn-slide {
    margin: 0 30px;
}

/*contact*/
.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 100px;
    align-items: stretch;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*deforme pas*/
}

.description1,
.profile,
.description2 {
    width: 100%;
    height: 100%;
}

/*formulaire*/
.contactMe h2 {
    text-align: center;
    font-size: 64px;
}

#contactForm {
    position: relative;
    border: 2px solid #ff158a;
    padding: 50px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 500px;
}

#contactForm label,
#contactForm input {
    color: #6c5c5c;
    font-size: 20px;
}

.row {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 50px;
}

.Grp,
.messageArea {
    display: flex;
    background-color: #ffb0dc;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
}

.Grp label {
    white-space: nowrap;
    /*avoid label to next line*/
}

.Grp input {
    background-color: #ffb0dc;
    border: none;
    width: 100%;
}

.messageArea {
    margin-top: 40px;
    width: 100%;
}

.messageArea textarea {
    background-color: #ffb0dc;
    border: none;
    border-radius: 4px;
    width: 100%;
}

#contactForm button {
    color: #ff158a;
    background-color: #ffb0dc;
    border: #ff158a;
    border-radius: 5px;
    font-size: 30px;
    padding: 0 20px;
    height: 45px;
    margin-bottom: -20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#contactForm button:hover {
    background-color: #ff158a;
    color: #ffb0dc;
    transform: scale(1.3);
}

.error {
    color: #ff158a;
}

/*Project*/
#project-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 1.5s ease, opacity 1.5s ease;
    transform: translateY(300px);
    opacity: 0;
}

/*active */
#project-header.active {
    transform: translateY(0);
    opacity: 1;
}

#project-header h2,
#moreComing h2 {
    color: #ff158a;
    font-size: 80px;
    margin-top: 0;
    text-align: center;
}

#moreComing {
    margin: 100px 0;
}

#project-header p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.preview-link {
    display: block;
    text-decoration: none;
    color: inherit;
    /*no blue color(base)*/
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    padding: 40px;
}

.preview {
    width: 100%;
    background: #FEB3C1;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    /*anime*/
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;
    pointer-events: none;
}

.preview.visible {
    opacity: 1;
    transform: translateY(0);
}

.preview img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

#Animation {
    scroll-margin-top: 200px;
}

/* mixed position */
.preview-link:nth-child(even) .preview {
    margin-top: 200px;
}

.preview a {
    text-decoration: none;
    color: #f9e7f1;
    font-size: 30px;
}

/*project details*/
.project-details {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.project-details .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    width: 80%;
    padding: 40px;
    background-color: #ffffff80;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    align-items: center;
}

.left {
    flex: 1;
    max-width: 30%;
    position: relative;
    z-index: 1;
}

.center {
    flex: 1;
    max-width: 35%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: visible;
    min-height: 300px;
}

.right {
    flex: 1;
    max-width: 30%;
    z-index: 1;
    margin-left: 50px;
}

.btn-video {
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-left {
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-right {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.content h2 {
    font-size: 80px;
    margin-top: 0;
}

.content p {
    margin-bottom: 0;
    color: #292929;
    font-size: 16px;
}


/* version mobile */
@media (max-width: 768px) {

    #menuToggle,
    #closeSidebar {
        display: block;
        /* show ☰ */
    }

    #menu {
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        height: 100vh;
        width: 205px;
        background-color: white;
        transition: right 0.3s ease;
    }

    #menu.show {
        right: 0;
    }

    .submenu {
        display: none;
    }

    /*hide submenu*/
    .dropdown:hover .submenu {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    /* section -pose center */
    main section,
    .phrase,
    .artCollection,
    #about,
    .connect {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .artImgContainer {
        grid-template-columns: 1fr 1fr;
    }

    #about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .slideContainer {
        height: 400px;
    }

    .slideImg {
        max-width: 90vw;
        height: auto;
    }

    .slideImg.left,
    .slideImg.right {
        opacity: 0;
        pointer-events: none;
        transform: scale(0.8);
        z-index: 1;
    }

    .slideImg.active {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 2;
    }

    button.back,
    button.next {
        top: 90%;
        font-size: 20px;
        padding: 8px;
    }

    #slide h2 {
        font-size: 60px;
    }


    /*contact page*/
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 10px;
    }

    #contactForm {
        padding: 30px;
        margin: 20px auto;
        width: 95%;
    }

    .contactMe h2 {
        font-size: 45px;
    }

    .description1 h2 {
        font-size: 30px;
    }

    .description2 p {
        font-size: 14px;
    }

    /*arts page*/
    .theme1 {
        padding: 10px;
        margin: 10px 0;
    }

    .block1 {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .column img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /*arts details*/
    .artworkContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
        margin: 40px auto;
    }

    .left-column,
    .right-column {
        max-width: 100%;
        width: 100%;
    }

    .details-table td {
        white-space: normal;
        /*allow to next line*/
        word-break: break-word;
    }

    .arts-buttons-container {
        margin: 30px 20px;
    }

    #prevTitle,
    #nextTitle {
        display: none;
    }

    /*project*/
    #project-header {
        transform: none;
        opacity: 1;
        transition: none;
        margin-top: 50px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .preview {
        opacity: 1;
        transform: none;
        transition: none;
        pointer-events: auto;
    }

    /* mixed position */
    .preview-link:nth-child(even) .preview {
        margin-top: 0;
    }

    #project-header h2,
    #moreComing h2 {
        font-size: 45px;
    }

    #project-header p {
        font-size: 14px;
    }

    .preview img {
        height: 300px;
    }

    .grid h2 {
        font-size: 30px;
    }

    #moreComing {
        margin: 30px 0;
    }

    /*project details*/

    .project-details {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
        width: 90%;
        padding: 20px;
        margin: 20px auto;
        background-color: #ffffffcc;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .center img {
        max-height: 500px;
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .left,
    .center,
    .right {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .center {
        order: 1;
    }

    .left {
        order: 2;
    }

    .right {
        order: 3;
    }

    .buttons {
        position: static;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .btn-left,
    .btn-right {
        margin: 0;
    }

    .content h2 {
        font-size: 45px;
    }

    .content p {
        font-size: 14px;
    }

}